<section class="section gallary-fon">
  <h2 class="visually-hidden">Gallary</h2>
  <div class="container container-gallery swiper-container">
    <ul class="list gallery__list swiper-wrapper">
      <!-- =================one -->
      <li class="gallary__item gallary__item-1 swiper-slide">
        <class class="gallary">
          <picture>
            <source
              srcset="
                ./images/desktop/gallery-1-desktop.webp    1x,
                ./images/desktop/gallery-1-desktop@2x.webp 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/desktop/gallery-1-desktop.jpg    1x,
                ./images/desktop/gallery-1-desktop@2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/tablet/gallery-1-tablet.webp    1x,
                ./images/tablet/gallery-1-tablet@2x.webp 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/tablet/gallery-1-tablet.jpg    1x,
                ./images/tablet/gallery-1-tablet@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/mobile/gallery-1-mobile.webp    1x,
                ./images/mobile/gallery-1-mobile@2x.webp 2x
              "
              media="(max-width: 767px)"
            />
            <source
              srcset="
                ./images/mobile/gallery-1-mobile.jpg    1x,
                ./images/mobile/gallery-1-mobile@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img class="gallary-picter-1"
            src="./images/mobile/gallery-1-mobile.jpg" alt="ice-cream foto"
          </picture>
        </class>
      </li>
      <!-- =====================two -->
      <li class="gallary__item gallary__item-2 swiper-slide">
        <class class="gallary">
          <picture>
            <source
              srcset="
                ./images/desktop/gallery-2-desktop.webp    1x,
                ./images/desktop/gallery-2-desktop@2x.webp 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/desktop/gallery-2-desktop.jpg    1x,
                ./images/desktop/gallery-2-desktop@2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/tablet/gallery-2-tablet.webp    1x,
                ./images/tablet/gallery-2-tablet@2x.webp 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/tablet/gallery-2-tablet.jpg    1x,
                ./images/tablet/gallery-2-tablet@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/mobile/gallery-2-mobile.webp    1x,
                ./images/mobile/gallery-2-mobile@2x.webp 2x
              "
              media="(max-width: 767px)"
            />
            <source
              srcset="
                ./images/mobile/gallery-2-mobile.jpg    1x,
                ./images/mobile/gallery-2-mobile@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img class="gallary-picter-2"
            src="./images/mobile/gallery-2-mobile.jpg" alt="ice-cream foto"
          </picture>
        </class>
      </li>

      <!-- ==================three -->
      <li class="gallary__item gallary__item-3 swiper-slide">
        <class class="gallary">
          <picture>
            <source
              srcset="
                ./images/desktop/gallery-3-desktop.webp    1x,
                ./images/desktop/gallery-3-desktop@2x.webp 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/desktop/gallery-3-desktop.jpg    1x,
                ./images/desktop/gallery-3-desktop@2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/tablet/gallery-3-tablet.webp    1x,
                ./images/tablet/gallery-3-tablet@2x.webp 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/tablet/gallery-3-tablet.jpg    1x,
                ./images/tablet/gallery-3-tablet@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/mobile/gallery-3-mobile.webp    1x,
                ./images/mobile/gallery-3-mobile@2x.webp 2x
              "
              media="(max-width: 767px)"
            />
            <source
              srcset="
                ./images/mobile/gallery-3-mobile.jpg    1x,
                ./images/mobile/gallery-3-mobile@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img class="gallary-picter-3"
            src="./images/mobile/gallery-3-mobile.jpg" alt="ice-cream foto"
          </picture>
        </class>
      </li>
    </ul>
  </div>
</section>
<script
  src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"
  type="module"
></script>
